// All the base configuration of the page: primary colors, sizes, typography, fonts.


//COLORS
$lightOrangeColor: #FFE3B3;
$mediumOrangeColor: #FFC172;
$darkOrangeColor: #DC9131;
$whiteColor: #FFFFFF;
$lightBlueColor: rgba(#26798E, 0.3);

//TYPOGRAHPY
//BODY 
$titleSize: 2em;
$subtitleSize: 1em;

//FONT
$font: 'Open Sans', sans-serif;